body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 20px;
}

h1 {
    color: #428bca;
    text-align: center;
}

#logs-container {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px;
    overflow-y: auto;
    max-height: 600px;
    margin-top: 20px;
    min-height: 200px;
}

p {
    margin: 5px 0;
}

.spark-button {
    background-color: #5bc0de;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
}

.spark-button:hover {
    background-color: #31b0d5;
}
